/* src/styles/App.css */

.app.default {
  background-color: #f5f5f5;
  color: #333;
}

.app.dark {
  background-color: #333;
  color: #f5f5f5;
}

.app.light {
  background-color: #ffffff;
  color: #333;
}

.app.blue {
  background-color: #e0f7fa;
  color: #006064;
}

.submit-all {
  margin-top: 20px;
}
